/*section.header-img {
	background: url(../assets/bg.jpg);
	background-attachment: fixed;
    background-position: bottom -55px right 0px;
    background-repeat: no-repeat;
    background-size: auto;
}*/


html {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* ------ HEADER SECTION ------ */ 

.header-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 180%;
  position: relative;
  color: white;

  display:flex;
  align-items:center;
}
.header-img img {
  float: left;
  padding: 1%;
  padding-left: 5%; 
  width: 15%;
  height: 15%;
}

.header-text {
  float: left;
  margin: 1%;
}
.header-text p {
  float: left;
  font-size: 1em;
}
.header-text h1 {
  font-size: 2em;
}

nav a.nav-link {
	font-family: 'Source Sans Pro', Arial, sans-serif;
}
nav ul {
  margin-left: 4%;
}

nav {
	border-bottom: 1px solid lightgray;
}

/* ------ HEADER END ------ */ 

/* ------ CONTENT SECTION ------ */ 

div.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-weight: 0%;
  }
  to {
    opacity: 1;
    font-weight: 100%;
  }
}

/* ------ CONTENT END ------ */ 